@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using PrioniaApp.Areas.Client.ViewModels.Home.Modal
@model ModalViewModel


<div class="modal-wrap row">
    <div class="col-lg-6">
        <div class="modal-img">
            <div class="swiper-container modal-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="single-img">
                            <img class="img-full"
                                 src="~/@Model.ImgUrl"
                                 alt="Product Image"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 pt-5 pt-lg-0">
        <div class="single-product-content">
            <h2 class="title">@Model.Title</h2>
            <div class="price-box">
                <span class="new-price">$@Model.Price</span>
            </div>
            <div class="rating-box-wrap">
                <div class="rating-box">
                    <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                </div>
                <div class="review-status">
                    <a href="#">( 1 Review )</a>
                </div>
            </div>
            <div class="selector-wrap color-option">
                <span class="selector-title border-bottom-0">Color</span>
                <select class="nice-select wide border-bottom-0 rounded-0" asp-items="@(new SelectList(Model.Colors, nameof(ModalViewModel.ColorViewModeL.Id), nameof(ModalViewModel.ColorViewModeL.Name)))"></select>
            </div>
            <div class="selector-wrap size-option">
                <span class="selector-title">Size</span>
                <select class="nice-select wide rounded-0" asp-items="@(new SelectList(Model.Sizes, nameof(ModalViewModel.SizeViewModeL.Id), nameof(ModalViewModel.SizeViewModeL.Title)))"></select>
            </div>
            <p class="short-desc">
               @Model.Description
            </p>
            <ul class="quantity-with-btn">

                <li class="add-to-cart">
                    <a asp-route="client-basket-add"
                           asp-route-id="@Model.Id"
                       data-id="@Model.Id" class="add-product-to-basket-modal  btn btn-custom-size lg-size btn-pronia-primary">Add to cart</a>
                </li>
                <li class="wishlist-btn-wrap">
                    <a class="custom-circle-btn" href="wishlist.html">
                        <i class="pe-7s-like"></i>
                    </a>
                </li>
                <li class="compare-btn-wrap">
                    <a class="custom-circle-btn" href="compare.html">
                        <i class="pe-7s-refresh-2"></i>
                    </a>
                </li>
            </ul>
            <ul class="service-item-wrap pb-0">
                <li class="service-item">
                    <div class="service-img">
                        <img src="~/client/assets/images/shipping/icon/car.png"
                             alt="Shipping Icon" />
                    </div>
                    <div class="service-content">
                        <span class="title">
                            Free <br />
                            Shipping
                        </span>
                    </div>
                </li>
                <li class="service-item">
                    <div class="service-img">
                        <img src="~/client/assets/images/shipping/icon/card.png"
                             alt="Shipping Icon" />
                    </div>
                    <div class="service-content">
                        <span class="title">
                            Safe <br />
                            Payment
                        </span>
                    </div>
                </li>
                <li class="service-item">
                    <div class="service-img">
                        <img src="~/client/assets/images/shipping/icon/service.png"
                             alt="Shipping Icon" />
                    </div>
                    <div class="service-content">
                        <span class="title">
                            Safe <br />
                            Payment
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
