@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using PrioniaApp.Areas.Admin.ViewModels.PaymentBenefits
@model List<ListItemViewModel>

<div class="col-lg-12">
    <div class="row justify-content-end">
        <div class="">
            <a asp-route="admin-payment-add" class="btn btn-secondary">Add new Payment Benefit</a>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Books</h4>
        </div><!--end card-header-->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Content</th>          
                            <th>Created at</th>
                            <th class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var slider in Model)
                        {
                            <tr>
                                <td>
                                    <img width="20%" src="~/@slider.BackgroundİmageInFileSystem" />
                                </td>                              
                                <td>@slider.Title</td>
                                <td>@slider.Content</td>
                                <td>@slider.CreatedAt.ToString("dd/MM/yyyy")</td>
                                <td class="text-end d-flex mt-3">
                                    <a asp-route="admin-payment-update" asp-route-id="@slider.Id"><i class="las la-pen text-secondary font-16"></i></a>

                                    <form method="POST" asp-route="admin-payment-delete" asp-route-id="@slider.Id" id="slider-form-@slider.Id"></form>
                                    <button class="border-0" type="submit" form="slider-form-@slider.Id">
                                        <i class="las la-trash-alt text-secondary font-16"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table><!--end /table-->
            </div><!--end /tableresponsive-->
        </div><!--end card-body-->
    </div><!--end card-->
</div>
