@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using PrioniaApp.Areas.Client.ViewModels.Home
@using PrioniaApp.Areas.Client.ViewCompanents
@model IndexViewModel

@foreach (var product in Model.Products)
{
    <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="product-item">
            <div class="product-img">
                <a asp-route="client-shop-index" asp-route-id="@product.Id">
                    <img class="primary-img"
                     src="~/@product.MainImgUrl"
                     alt="Product Images" />
                    <img class="secondary-img"
                     src="~/@product.HoverImgUrl"
                     alt="Product Images" />
                </a>
                <div class="product-add-action">
                    <ul>
                        <li class="quuickview-btn">
                            <a class="show-product-modal" asp-route="Product-GetModel" asp-route-id="@product.Id" data-toggle="modal" data-target="#quickModal"
                           data-tippy="Quickview"
                           data-tippy-inertia="true"
                           data-tippy-animation="shift-away"
                           data-tippy-delay="50"
                           data-tippy-arrow="true"
                           data-tippy-theme="sharpborder">
                                <i class="pe-7s-look"></i>
                            </a>
                        </li>
                        <li>
                            <a class="add-product-to-basket-btn" asp-route="client-basket-add"
                           asp-route-id="@product.Id"
                           data-id="@product.Id"
                           data-tippy="Add to cart"
                           data-tippy-inertia="true"
                           data-tippy-animation="shift-away"
                           data-tippy-delay="50"
                           data-tippy-arrow="true"
                           data-tippy-theme="sharpborder">
                                <i class="pe-7s-cart"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-content">
                <a class="product-name" href="shop.html">@product.Name</a>
                <div class="price-box pb-1">
                    <span class="new-price">$@product.Price</span>
                </div>
                <div class="rating-box">
                    <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
